.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.list-inline {
  display: block;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}
