/*
 * CSS Stylesheet for The Cup Game
 * Author: Amit Feldman
 * GA's 1st Student Project
 * Date: 31/08/2016
*/

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate.loop {
  animation-iteration-count: infinite;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  font-style: normal;
  color: #f73e80;
  animation: pulse 2s infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
