/*
 * CSS Stylesheet for The Cup Game
 * Author: Amit Feldman
 * GA's 1st Student Project
 * Date: 31/08/2016
*/

.container {
  width: 85%;
  margin: 0 auto;
}

.row {
  width: inherit;
  margin: 0 auto;
  padding: 15px;
}

.gameboard {
  margin: 0 auto;
  margin-top: 15px;
  height: 600px;
  width: 100%;
  border-radius: .35em;
  background-color: #ecf0f1;
  border: 2px solid #bbc4c9;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border: 1px solid #bbc4c9;
  border-top: 25px solid #bbc4c9;
}
