/*
 * CSS Stylesheet for The Cup Game
 * Author: Amit Feldman
 * GA's 1st Student Project
 * Date: 31/08/2016
*/

footer {
  width: 100%;
  position: relative;
  padding: 25px 0;
  font-size: 12px;
  line-height: 1.5;
  color: #bbc4c9;
  font-weight: 800;
  text-transform: uppercase;
  z-index: -1000;
}

footer > ul {
  padding-left: 0px;
}

footer > ul.list-inline > li {
  padding: 0px;
}

footer > ul > li > a {
  color: #ecf0f1;
  padding: 4px 8px;
  text-decoration: none;
}

footer > ul > li > a:hover {
  text-decoration: underline;
}
