/*
 * CSS Stylesheet for The Cup Game
 * Author: Amit Feldman
 * GA's 1st Student Project
 * Date: 31/08/2016
*/

@import 'normalize.css';
@import 'box.css';
@import 'alignment.css';
@import 'buttons.css';
@import 'footer.css';
@import 'animations.css';
@import 'https://fonts.googleapis.com/css?family=Lobster';

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  font-family: 'brandon-grotesque', sans-serif;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lobster', cursive;
  padding: 0;
  margin: 0;
}

ul {
  padding-left: 0;
}

h1 {
  font-size: 2.5rem;
}

.page-header {
  padding: 10px 0 10px 0;
  color: #2c3e50;
}

.title {
  border-bottom: 4px solid #e74c3c;
  padding: 5px;
}

.player {
  padding-top: 15px;
  padding-right: 15px;
  color: #2c3e50;
}

.btn-start {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

.btn-shuffle {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 200px;
  margin-left: -100px;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.cup-holder {
  margin: 0 auto;
  margin-top: 10rem;
}

.cup {
  width: 5rem;
  opacity: 1;
  transition: transform 100ms ease-out;
}

.ball {
  zoom: 0.5;
  display: block;
  margin: 0 auto;
}

.hasBall {
  top: -20px;
  position: relative;
  transition: transform 100ms ease-out;
}

.cup:hover {
  opacity: 0.9;
  transform: scale(1.25);
  transition: transform 100ms ease-out;
}

.hidden {
  display: none;
  visibility: hidden;
}
